<!DOCTYPE html>
<html><head>
<title>{{ page.title }} | Cole Wilson - Sites</title>
</head>
<body style='margin:0px;'>
<div id='header' style='margin:0px;background-color:skyblue;height:30vh;'><div style='height=10vh;background-color:black;'><div style='float:left;'><a href='/sites/{{ page.user }}'>{{ page.user }}</a></div><div style='float:right'>

{% capture usr %}{{page.user}}{% endcapture %}
{% for p in data.pages.usr %}
  <div style='float:right;'><a href='{{p.filename}}'>  {{p.name}}  </a></div>
{% endfor %}
</div> </div><div style='height:10vh;'>{{page.title}}</div></div>
</body></html>
